<ul>
    <li><a href="{{site.url}}">Home</a></li>
    <li><b>Profiles</b></li>
    <ul>
        {% assign loaded_profiles = site.profiles | sort: "title" %}
        {% for profile in loaded_profiles | sort %}
        <li><a href="{{ profile.url }}">{{ profile.title }}</a></li>
        {% endfor %}
        {% assign loaded_reports = site.reports | sort: "title" %}
        {% for report in loaded_reports | sort %}
        <li><a href="{{ report.url }}">{{ report.title }}</a></li>
        {% endfor %}
    </ul>
</ul>
