---
---

@import "{{ site.theme }}";

.nav li {
    list-style: none;
    display: block;
    padding: 0 20px;
}

.inner {
    display:flex;
    max-width: 1280px;
}

.nav {
    flex: 1 1 content;
    max-width: 300px;
}

.main {
    overflow-y: auto;
    flex-grow: 4 4 auto;
}
